body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "Oxygen", sans-serif;
}
header, main, section, div {
    box-sizing: border-box;
}
.letter_space {
    letter-spacing: 0.1rem;
}
/* Header section containing name, description, logo and border. */

.header_inner {
    width: 100%;
    height: 10%;
    border-bottom: 4px solid #7d97ad;
}
.icon_container {
    float: left;
    width: 10%;
}
.icon path {
    fill: #02b3e4;
}
.name, .description {
    text-align: right;
    color: #2d3c49;
    text-transform: uppercase;
}
.name {
    font-size: 3em;
    font-weight: 200;
}
.description {
    font-size: 1.5em;
    font-weight:100;
}

/* Middle section containing the big picture. */

.hero:first-child {
    display: flex;
    position: relative;
    margin-top: 5%;
    width: 100%;
    box-shadow: 10px 10px 20px grey;
}

/* Bottom section containing the three small pictures, links and text. */

.feature {
    width: 100%;
}
.feature h2 {
    font-size: 2em; 
    font-weight: 300;
    color: #7d97ad;
    margin: 3em 0 1em 0;
    text-transform: capitalize;
    
}
.img_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    text-align: center;

}  
.img1, .img2, .img3 {
    width: 100%;
    box-shadow: 10px 10px 20px grey;
}
.title {
    font-size: 2.5em;
    font-weight: 500;
    color: #2d3c49;
    text-transform: uppercase;
}
.url {
    font-size: 1em;
    font-weight: 200;
    color: #2d3c49;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
a:hover .title, a:hover .url {
    color: #02b3e4;
}
a p {
     margin: 0;
 }
