/*Breakpoint for mobile viewports.*/

@media screen and (max-width: 550px) {
    .header {
        flex-direction: column;
        justify-content: center;
        border-bottom: 2px solid #7d97ad;
    }

    .name, .description {
        text-align: center;
    }

    .name {
        font-size: 1.5em;
        font-weight: 500;
    }

    .description {
        font-size: 1em;
        font-weight: 300;
    }

    .icon_container {
        position: relative;
    }

    .hero {
        display: flex;
        width: 100%;
    }

    .hero:first-child {
        box-shadow: none;
    }

    .feature h2 {
        font-size: 1.5em;
        text-align: center;
    }

    .img_container {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
    }

    .image {
        width: 100%;
        margin-top: 2em;
    }

    .img1, .img2, .img3 {
        box-shadow: none;
    }

    .title {
        font-size: 1.5em;
    }

    .url {
        font-size: 1em;
    }
}
/*Breakpoint for tablets.*/

@media screen and (min-width:551px) and (max-width: 1024px) {
    .name, .description {
        margin-right: 5%;
    }

    .name {
        font-size: 2em;
    }

    .description {
        font-size: 1.5em;
    }

    .icon_container {
        margin-left: 5%;
    }

    .feature h2 {
        font-size: 1.7em;
        margin-left: 5%;
    }

    .img_container {
        display: flex;
        justify-content: space-around;
    }

    .image {
        flex: 0 1 30%;
    }

    .title {
        font-size: 1.5em;
    }

    .url {
        font-size: 1em;
    }
}
/*Breakpoint for desktops.*/

@media screen and (min-width: 1025px) {
    body, html {
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero:first-child {
        width: 100%;
    }

    .img_container {
        display: flex;
        justify-content: space-between;
    }

    .image {
        flex: 0 1 30%;
    }
}   